.#{$DRAFTAIL}FloatingToolbar {
  padding: $controls-spacing;
  background-color: $draftail-editor-chrome;
  color: $draftail-editor-chrome-text;
  border-radius: $draftail-toolbar-radius;
  border: $draftail-toolbar-border-bottom;
  outline: $draftail-contrast-outline-modal;
}

.#{$DRAFTAIL}FloatingToolbar__target {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
}
