.json-text__controls {
  border: solid 1px #eee;
  border-radius: 3px;
  padding: 0.5rem; }

.json-text--readonly {
  opacity: .5; }

.RichEditor-styleButton {
  padding: 0.25rem 0.5rem;
  background: #eee;
  display: inline-block;
  border-radius: 0;
  margin-right: 4px;
  margin-right: 0.25rem;
  cursor: pointer; }

.RichEditor-tooltip__button {
  appearance: none;
  background: #808080;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border: 0;
  border-radius: 1px; }
  .RichEditor-tooltip__button + .RichEditor-tooltip__button {
    margin-left: 0.25rem; }

.RichEditor-activeButton {
  background: #666;
  color: #fff; }

.RichEditor-controls {
  margin-bottom: 0.5rem;
  display: inline-block; }

.RichEditor-link {
  background: #eef8ff;
  border-bottom: dotted 1px #43b1b0;
  cursor: pointer; }
  .RichEditor-link:before {
    color: #43b1b0; }

.Modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center; }

.Modal-content {
  background: #fff;
  max-width: 500px; }

.Modal-header {
  padding: 1em; }

.Modal-header-tab {
  padding-bottom: 0; }

.Modal-body {
  padding: 1em; }

.Modal-actions {
  padding-top: 1rem; }

/**
 * @providesModule DraftStyleDefault
 */
.public-DraftStyleDefault-block {
  position: relative;
  white-space: pre-wrap; }

/* @noflip */
.public-DraftStyleDefault-ltr {
  direction: ltr;
  text-align: left; }

/* @noflip */
.public-DraftStyleDefault-rtl {
  direction: rtl;
  text-align: right; }

/**
 * These rules provide appropriate text direction for counter pseudo-elements.
 */
/* @noflip */
.public-DraftStyleDefault-listLTR {
  direction: ltr; }

/* @noflip */
.public-DraftStyleDefault-listRTL {
  direction: rtl; }

/**
 * Default spacing for list container elements. Override with CSS as needed.
 */
.public-DraftStyleDefault-ul,
.public-DraftStyleDefault-ol {
  margin: 16px 0;
  padding: 0; }

/**
 * Default counters and styles are provided for five levels of nesting.
 * If you require nesting beyond that level, you should use your own CSS
 * classes to do so. If you care about handling RTL languages, the rules you
 * create should look a lot like these.
 */
/* @noflip */
.public-DraftStyleDefault-depth0.public-DraftStyleDefault-listLTR {
  margin-left: 1.5em; }

/* @noflip */
.public-DraftStyleDefault-depth0.public-DraftStyleDefault-listRTL {
  margin-right: 1.5em; }

/* @noflip */
.public-DraftStyleDefault-depth1.public-DraftStyleDefault-listLTR {
  margin-left: 3em; }

/* @noflip */
.public-DraftStyleDefault-depth1.public-DraftStyleDefault-listRTL {
  margin-right: 3em; }

/* @noflip */
.public-DraftStyleDefault-depth2.public-DraftStyleDefault-listLTR {
  margin-left: 4.5em; }

/* @noflip */
.public-DraftStyleDefault-depth2.public-DraftStyleDefault-listRTL {
  margin-right: 4.5em; }

/* @noflip */
.public-DraftStyleDefault-depth3.public-DraftStyleDefault-listLTR {
  margin-left: 6em; }

/* @noflip */
.public-DraftStyleDefault-depth3.public-DraftStyleDefault-listRTL {
  margin-right: 6em; }

/* @noflip */
.public-DraftStyleDefault-depth4.public-DraftStyleDefault-listLTR {
  margin-left: 7.5em; }

/* @noflip */
.public-DraftStyleDefault-depth4.public-DraftStyleDefault-listRTL {
  margin-right: 7.5em; }

/**
 * Only use `square` list-style after the first two levels.
 */
.public-DraftStyleDefault-unorderedListItem {
  list-style: square outside none;
  position: relative; }

.public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth0 {
  list-style-type: disc; }

.public-DraftStyleDefault-unorderedListItem.public-DraftStyleDefault-depth1 {
  list-style-type: circle; }

/**
 * Ordered list item counters are managed with CSS, since all list nesting is
 * purely visual.
 */
.public-DraftStyleDefault-orderedListItem {
  list-style-type: none;
  list-style-position: outside;
  position: relative; }

/* @noflip */
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listLTR:before {
  left: -36px;
  position: absolute;
  text-align: right;
  width: 30px; }

/* @noflip */
.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-listRTL:before {
  position: absolute;
  right: -36px;
  text-align: left;
  width: 30px; }

/**
 * Counters are reset in JavaScript. If you need different counter styles,
 * override these rules. If you need more nesting, create your own rules to
 * do so.
 */
.public-DraftStyleDefault-orderedListItem:before {
  content: counter(ol0) ". ";
  counter-increment: ol0; }

.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth1:before {
  content: counter(ol1) ". ";
  counter-increment: ol1; }

.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth2:before {
  content: counter(ol2) ". ";
  counter-increment: ol2; }

.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth3:before {
  content: counter(ol3) ". ";
  counter-increment: ol3; }

.public-DraftStyleDefault-orderedListItem.public-DraftStyleDefault-depth4:before {
  content: counter(ol4) ". ";
  counter-increment: ol4; }

.public-DraftStyleDefault-depth0.public-DraftStyleDefault-reset {
  counter-reset: ol0; }

.public-DraftStyleDefault-depth1.public-DraftStyleDefault-reset {
  counter-reset: ol1; }

.public-DraftStyleDefault-depth2.public-DraftStyleDefault-reset {
  counter-reset: ol2; }

.public-DraftStyleDefault-depth3.public-DraftStyleDefault-reset {
  counter-reset: ol3; }

.public-DraftStyleDefault-depth4.public-DraftStyleDefault-reset {
  counter-reset: ol4; }

.public-DraftEditor-content {
  font-size: 15px;
  line-height: 1.5;
  font-family: sans-serif; }

.RichEditor-media {
  outline: dotted 1px #dadada;
  position: relative; }

.RichEditor-media:hover,
.RichEditor-media--open {
  outline: dotted 1px #43b1b0; }
  .RichEditor-media:hover .RichEditor-media-container,
  .RichEditor-media--open .RichEditor-media-container {
    cursor: pointer; }

.RichEditor-grid {
  margin-left: -2rem; }

.RichEditor-grid:after {
  display: table;
  content: '';
  clear: both; }

.RichEditor-col {
  width: 50%;
  float: left;
  padding-left: 2rem;
  box-sizing: border-box; }

.RichEditor-media--open {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); }

.RichEditor-media img {
  max-width: 100%; }

.RichEditor-media-icon {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background: rgba(255, 255, 255, 0.9);
  line-height: 1;
  padding-left: 0.25rem;
  padding-bottom: .125rem;
  pointer-events: none; }

.RichEditor-media-preview {
  max-width: 260px;
  display: inline-block;
  user-select: none; }

.RichEditor-media-options {
  background: #f3f3f3;
  border-top: solid 1px #e2e2e2;
  font-size: 13px;
  font-family: Open Sans, sans-serif;
  padding: 1rem; }
  .RichEditor-media-options h3,
  .RichEditor-media-options h4 {
    margin-top: 0; }
  .RichEditor-media-options label {
    width: auto;
    padding: 0;
    display: inline-block;
    float: none;
    margin-right: 1rem;
    cursor: pointer; }
  .RichEditor-media-options input[type=radio]:before,
  .RichEditor-media-options input[type=radio]:after {
    display: none; }
  .RichEditor-media-options input[type=radio] {
    margin-right: 8px; }
  .RichEditor-media-options input[type=text] {
    font-size: 14px; }

.RichEditor-tooltip {
  position: absolute;
  padding: 0.375rem 0.5rem;
  margin-top: 0.5rem;
  background-color: #333;
  color: #fff;
  z-index: 1; }
  .RichEditor-tooltip:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 1rem;
    border: solid transparent 5px;
    border-bottom-color: #000; }

.RichEditor-tooltip__text,
.RichEditor-tooltip__link {
  color: #ddd;
  margin-right: 0.5rem;
  display: inline-block; }

.RichEditor-tooltip__link:hover {
  color: #fff; }

.RichEditor-tooltip__link:last-child {
  margin-right: 0; }

.RichEditor-horizontal-rule {
  border-top: solid 1px #eee; }

.u-block {
  display: block !important; }
