{
    "extends": "airbnb",

    "rules": {
        "indent": [2, 4],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "max-len": [1, 120, 4, {"ignoreUrls": true}],
        "id-length": [0],
        "object-shorthand": [2, "methods"],
        "arrow-body-style": [0],
        "no-new": [1],
        "no-multi-spaces": [0],
        "no-warning-comments": [1, { "terms": ["todo", "fixme", "xxx"], "location": "start" }],
        "no-plusplus": [0],
        "react/sort-comp": [0],
        "react/jsx-boolean-value": [0],
        "react/jsx-no-bind": [0],
        "react/prefer-es6-class": [0, "never"],
        "react/jsx-filename-extension": [2, { "extensions": [".js"] }],
        "react/forbid-prop-types": [2, { "forbid": ["any"] }],
        "jsx-quotes": [1, "prefer-double"],
        "jsx-a11y/label-has-for": [0],
        "import/no-extraneous-dependencies": [2, {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}],
        "import/prefer-default-export": [0]
    },

    "env": {
        "jest": true,
        "browser": true
    }
}
