coverage
.babelrc
examples
docs
webpack
lib
.npmignore
.nvmrc
.travis.yml
.eslintignore
.eslintrc
.editorconfig
.vscode
.githooks
.github
bin
.env
npm-debug.log*
*.test.js
*/tests/
__snapshots__
prettier.config.js
.prettierignore
