sudo: false
language: node_js
install:
    - npm ci
script:
    - npm run test:ci
    - base64 < ./tests/integration/__image_snapshots__/__diff_output__/* || true
    - npm run danger
    - npm run report:size
    - mv webpack/webpack-stats.html public || true
    - mv coverage/lcov-report public || true
after_success:
    - cat ./coverage/lcov.info | npx coveralls
branches:
    except:
        - gh-pages
deploy:
    provider: pages
    skip_cleanup: true
    local_dir: public
    github_token: '$GITHUB_TOKEN'
    on:
        branch: master
notifications:
    email: false
    slack:
        rooms:
            secure:
                YnWcwBDnn2fXLsQ9692oC6+Ep10ZDurqnyNhwdFyAaOHAG+CynRGG3pCdRcr8kpPqicCC056xHMXWfY+K5LB4HwjOud7ztJzjTsvs+gvacNDUq9U41JHwxsMHk5Ei37OslbXMFlI4jPXB1lt32+T43nxt9FwEwDPqZDdiaJ639jElm3Dj5KoojCBLrw2Iyi0nRDod5QPviu/VMIC5A+nN7cXdxR8QTKV5M3YDVhKK7k2ofI+UwzcpfJOY7sl0kJBL+mbOLWyISrVKmYVq4THem2ipO4ImO+r0FGZUkNRH4qHsMhv7ERiGHYIcALOV7kY5sKgJk6xGTJExcV+dh5DH9xVz13lvriRLZSzTBlbQHtAFZV/qEUSAcazzhYGguFqPKglQwNPGPNGb0Jzzd7a+B88mY+sye2N14rij0B/gKRDBm95tP1WtLpSIaNjoiuKStMCoMn+V+WaAUb1H3HSd45DElvce6SHVOCvx0+ppXsET1m7u3WRIn8V+aYOliWw/cLnpUi+ad1eAW2ltxOa7ei0LqT7oxvK6ca7JZrCgAReYHApgUrMWZhLz53VpGnDuMXSgfGLiimH2OzSv2+nq2l1pjOTd3dGFsShhqa+PxKIe0U2vle8YXYPRvk3K2Twen5bcV1HkWw/jCt9X6KpuyjDbtK+twMMWMYTnpgQG3E=
env:
    global:
        - secure:
              JmsnY0Q7HK15mJMOmIBvbcQngXoEwr9emssotKDo1IYctPe2k9X/0bRR1cR11aHSQh+Vf6oI0isbf4+Ic6O1tKjrF/PUeqeLR2euiAZoeUn7hlcZTgoAfQgSXhM7VAQ5uprc6kMP5ox7k1sBmLf4XnmggGvAd71OKa5ej5bddH4LTcb9VpKBKpJU9c2HmYgFlDVMHnQWxh25mWU/wqHD2gMkzz9O5vfQVYShqd2QMBeU/maowH5n5eeozYIkzOBdOtlNM60Hm0PsN4KTVj8iNax8/OnhZpArdF0QXAgSnx9dVMp6ggXlA34oHi+ASvVD+0c0S5ZD8tERw73OKeXG5IOQDVyxl5n2jbBJ2bYxtge/xHlgyNmUjmeZJVSXuUSwFSqK5BuhrRq+UP6gq8ccggwzvetg6JD2SyewAD5kmfObmF2ifJZd7jpZ+CGD9OLiXeCP501FyUIxGxJHj0vwcWUN9kJRcL/TOC4Oad6ljmH7Ygi5erZkyLK9crGyd7YwC59ZBeJ1tMtZcGi9yXL2cklDj9T3elQf5PkFqD+D+GfwpsK8oc/6kS9Qk/TxMVzPIlT1lXBQMgN/fOTWUVAs7XoXjtpcgWXuh1AwJEZHvqO2es0axRzTcSeSJuZf77v6koexTnfkWjD5HFvqAe2Mv8Glykjeyh3d8U00DT17Kvw=
        - secure:
              JPuBagp3GGwLOJ7zoRzStFC0HMGTunO9CgCzmmBiIz16Uj3L3zhL5LDDnlaQcBkgwFqMdu3+0Mm9B3XUDf0UqYoJi+ZLRkbXRmacTpWGWvPq5sByb9+oJ31CDfvbmwi8K4B4qupcKGEgNTtdVo2fjKKtemZo/ytboFkOusSySVrf2apqLHOrNYZa2UPtrCcwpZUzGXND9VDXiWsC3xqC5N680Ri9iHBta+uQ2IMnhJQkAszrhXgEbk18qzkhaPzWMT7f0ERXk+aAVhfz/e7VCG2fD14a7a96KHUe/K4Q4SVAh2caDwLydINbzfWkCcDvjcaVFVP5I+Xjsk3Kcdp/+oR2QgP1qSKpY6WD9TRKMFIaJ4oCGLX3Ka78fYD9LxgJRIk4pFt8xbgwU09rYrsO1k2WvKntz7e8vhciXbTMwyhgkeVs3Ojz8qMgAtyWXFrNmiKtIcQdXFKBE6LbKhZIUMM75h4g61bc4CLjqWP3OS+kI3XqxiirxOotZl8J8cjBr8qjd+u2Q5G5o8J6JZXps39MxkNxlzRKuexSM2yeOnzA4ofqu7cAHNkHIvUYNuX8TQTmZ5XXQgugRUOGoEACeTUIcVjSTWZCQng3tfR+mFZ99GXCbwfyd1gGbYhAh8wtafk/jFFRA3euqSFTHrRuzQg3Vg9FZCRie11ltNk0yuo=
