.RichEditor-grid {
    margin-left: -2rem;
}

.RichEditor-grid:after {
    display: table;
    content: '';
    clear: both;
}

.RichEditor-col {
    width: 50%;
    float: left;
    padding-left: 2rem;
    box-sizing: border-box;
}

.ImageBlock {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.ImageBlock img {
    max-width: 260px;
    min-height: 170px;
}

.ImageBlock__icon {
    position: absolute;
    top: 0;
    right: 0;
    background: $color-editor-chrome;
    color: $color-editor-chrome-text;
    line-height: 1;
    padding: $controls-spacing * 2;
    pointer-events: none;
}

.ImageBlock__options {
    background: #f3f3f3;
    border-top: solid 1px #e2e2e2;
    font-size: 13px;
    font-family: Open Sans, sans-serif;
    padding: 1rem;

    h3,
    h4 {
        margin-top: 0;
    }

    label {
        width: auto;
        padding: 0;
        display: inline-block;
        float: none;
        margin-right: 1rem;
        cursor: pointer;
    }

    input[type='radio']:before,
    input[type='radio']:after {
        display: none;
    }

    input[type='radio'] {
        margin-right: 8px;
    }

    input[type='text'] {
        font-size: 14px;
    }
}
