.MediaBlock {
  display: inline-block;
  position: relative;
  padding: 0;
  cursor: pointer;
  outline: $draftail-contrast-border;

  // stylelint-disable
  &:focus {
    outline: none;
  }
  // stylelint-enable

  &__icon-wrapper {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    background: $draftail-editor-chrome;
    color: $draftail-editor-chrome-text;
    line-height: 1;
    padding: $controls-spacing * 2 $controls-spacing * 3;
    pointer-events: none;
  }

  &__icon {
    $icon-size: 1.5rem;

    width: $icon-size;
    height: $icon-size;
    font-size: $icon-size;
  }

  @mixin invalid-image-fallback {
    min-width: 256px;
    min-height: 100px;
    object-fit: contain;
    background-color: $GREY_333;
  }

  &__img {
    @include invalid-image-fallback();

    display: block;
    width: 256px;
    height: auto;
    pointer-events: none;
  }

  &--loading {
    .MediaBlock__img {
      animation-duration: 1.25s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: linear-gradient(
        90deg,
        $draftail-editor-chrome 10%,
        $draftail-editor-chrome-accent 18%,
        $draftail-editor-chrome 33%
      );
      background-size: 800px 104px;
      height: 100px;
    }

    .MediaBlock__icon-wrapper {
      background-color: transparent;
    }
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
