// Defined in both CSS and JS to constraint the maximum size of the tooltip.
$OPTIONS_MAX_WIDTH: 300px;

.MediaBlock {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.MediaBlock > img {
    width: 256px;
    height: auto;
    // Make sure the image renders even if its URL is invalid.
    min-width: 256px;
    min-height: 100px;
    background-color: $GREY_333;
}

.MediaBlock__icon {
    position: absolute;
    top: 0;
    right: 0;
    background: $color-editor-chrome;
    color: $color-editor-chrome-text;
    line-height: 1;
    padding: $controls-spacing * 2 $controls-spacing * 3;
    pointer-events: none;

    .icon {
        // SVG icons.
        width: 1.5rem;
        height: 1.5rem;
        // Font icons.
        font-size: 1.5rem;
    }
}

.MediaBlock__options {
    max-width: $OPTIONS_MAX_WIDTH;
}
