.#{$DRAFTAIL}MetaToolbar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: $controls-spacing;
  background-color: $draftail-editor-background;
  color: $draftail-editor-chrome;
  border-top: 1px solid transparent;
}
