$button-active-color: transparentize(
  $color: $draftail-editor-chrome-active,
  $amount: 0.9,
);
$button-active-border-color: transparentize(
  $color: $draftail-editor-chrome-active,
  $amount: 0.8,
);
$button-font-size: 1rem;

.#{$DRAFTAIL}ToolbarButton {
  // Guarantee buttons are a predictable round-number size.
  $size: $button-font-size + $button-spacing * 2 + $draftail-base-spacing;
  @include font-smoothing();

  display: inline-block;
  padding: $button-spacing;
  min-width: $size;
  max-height: $size;
  border-radius: $draftail-toolbar-radius;
  background: transparent;
  color: inherit;
  border: 1px solid transparent;
  outline: $draftail-contrast-outline;
  font-size: $button-font-size;
  font-weight: 600;
  cursor: pointer;
  user-select: none;

  &--active {
    background-color: $button-active-color;
    border: 1px solid $button-active-border-color;

    @media (forced-colors: active) {
      // Force the text to CanvasText as forced colors automatically
      // adds a Canvas outline behind text.
      background: Highlight;
      color: HighlightText;
      border-color: currentColor;
    }
  }

  &__label {
    display: inline-block;
    vertical-align: middle;
    height: 1em;

    @media (forced-colors: active) {
      color: CanvasText;
    }
  }
}
