@use "sass:math";

// Code initially taken from Balloon.css
// See https://github.com/kazzkiq/balloon.css.
//
// Variables
// -----------------------------------------

$balloon-bg: transparentize(
  $color: #111,
  $amount: 0.1,
) !default;
$balloon-text-color: $color-white;
$arrow-height: 6px;
$arrow-width: 18px;
$arrow-offset: 5px;
$balloon-radius: $draftail-toolbar-tooltip-radius;
$balloon-transition-duration: $draftail-toolbar-tooltip-duration;
$balloon-transition-delay: $draftail-toolbar-tooltip-delay;
$balloon-font-size: 0.875em;

//
// Mixins
// -----------------------------------------

@mixin arrow($color, $direction) {
  border: math.div($arrow-width, 2) solid transparent;
  @if $direction == up {
    border-top-width: 0;
    border-bottom: $arrow-height solid $color;
  } @else if $direction == down {
    border-bottom-width: 0;
    border-top: $arrow-height solid $color;
  } @else {
    @error "Unknown direction #{$direction}.";
  }
}

@mixin balloon-position($direction) {
  $prop: null;
  $factor: null;

  @if $direction == up {
    $prop: top;
    $factor: -1;
  } @else if $direction == down {
    $prop: bottom;
    $factor: 1;
  } @else {
    @error "Unknown direction #{$direction}.";
  }

  &::after,
  &::before {
    inset-inline-start: 50%;
    #{$prop}: 100%;
    transform: translate(
      calc(-50% * var(--draftail-text-direction)),
      $factor * 10px
    );
  }

  &:hover {
    &::after,
    &::before {
      transform: translate(calc(-50% * var(--draftail-text-direction)), 0);
    }
  }

  &::after {
    margin-#{$prop}: $arrow-offset + $arrow-height;
  }

  &::before {
    @include arrow($color: $balloon-bg, $direction: $direction);
    margin-#{$prop}: $arrow-offset;
  }
}

//
// Styles
// -----------------------------------------

[data-draftail-balloon] {
  position: relative;

  // Fixing iOS Safari event issue.
  // More info at: https://goo.gl/w8JF4W
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    z-index: $draftail-toolbar-tooltip-z-index;
    opacity: 0;
    pointer-events: none;
  }

  &::before {
    content: "";
  }

  &::after {
    @include font-smoothing();

    background: $balloon-bg;
    border-radius: $balloon-radius;
    outline: $draftail-contrast-outline-modal;
    color: $balloon-text-color;
    content: attr(aria-label);
    padding: 0.5em 1em;
    white-space: pre;
    font-size: $balloon-font-size;
  }

  &:hover {
    &::before,
    &::after {
      opacity: 1;
      transition: all $balloon-transition-duration ease-out
        $balloon-transition-delay;
    }
  }
}

[data-draftail-balloon="up"] {
  @include balloon-position($direction: up);
}

[data-draftail-balloon="down"] {
  @include balloon-position($direction: down);
}
