.#{$DRAFTAIL}ToolbarGroup {
  display: inline-block;

  &::before {
    content: "";
    display: inline-block;
    width: 0.0625rem;
    height: 1rem;
    vertical-align: middle;
    margin: 0 $controls-spacing * 0.5;
    background-color: $draftail-editor-chrome-accent;
  }

  &:first-of-type::before {
    display: none;
  }

  .#{$DRAFTAIL}Editor--readonly & {
    opacity: $draftail-editor-readonly-opacity;
  }
}
