.#{$DRAFTAIL}InlineToolbar {
  padding: $controls-spacing;
  background-color: $draftail-editor-chrome;
  color: $draftail-editor-chrome-text;
  border-radius: $draftail-toolbar-radius;
  border-bottom: $draftail-toolbar-border-bottom;
  border: $draftail-contrast-border;
}

.#{$DRAFTAIL}InlineToolbar__target {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
}
