*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-size: 1rem;
    color: $TEXT_COLOR;
    font-weight: normal;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}
