*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: $WHITE;
    font-size: 1rem;
    color: $TEXT_COLOR;
    font-weight: normal;
}

img {
    max-width: 100%;
}
