*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-size: $FONT_SIZE_TEXT;
    color: $TEXT_COLOR;
    font-weight: normal;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

summary {
    cursor: pointer;
}

button {
    cursor: pointer;
    font-family: inherit;
}
