*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: #f3f3f3;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
        Arial, sans-serif;
    color: #333;
    font-weight: normal;
}
