.u-text-center {
  text-align: center;
}

.u-wagtail {
  color: $TEAL_WAGTAIL_DARK;
  white-space: nowrap;
}

.Draftail-block--tiny-text {
  $tiny-text: 11px;

  font-size: $tiny-text;
  font-style: italic;
}

.docs-rtl-support {
  // Flip icons that are directional.
  [name="ordered-list-item"],
  [name="unordered-list-item"],
  [name="ITALIC"],
  [name="BOLD"] {
    .Draftail-Icon {
      transform: scaleX(-1);
    }
  }
}

.docs-ui-theming .Draftail-Toolbar,
.docs-custom-toolbars .Draftail-Toolbar--bottom {
  padding-inline: 0;
  border: 0;
  background: transparent;
  color: $GREY_999;
}

.docs-custom-toolbars .Draftail-Toolbar--bottom,
.docs-floating-toolbars .Draftail-Toolbar--bottom {
  display: flex;
  flex-direction: row-reverse;
  font-variant-numeric: tabular-nums;

  select {
    max-width: 50px;
  }
}

.docs-floating-toolbars {
  .Draftail-Editor {
    border-color: transparent;
  }

  .DraftEditor-root {
    border: $draftail-editor-border;
    border-radius: $draftail-editor-radius;
  }
}

.custom-toolbar-plugins {
  margin: 2rem 1rem 0 8rem;
}

// See https://snook.ca/archives/html_and_css/hiding-content-for-accessibility.
.u-visually-hidden {
  // stylelint-disable-next-line declaration-no-important
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
