@import '../node_modules/normalize.css';

$WHITE: #fff;
$BLACK: #000;
$GREY_333: #333;
$TEAL_WAGTAIL: #43b1b0;
$LIGHT_BLUE_EEF8FF: #eef8ff;

$TEXT_COLOR: $GREY_333;

$tooltip-spacing: 0.625rem;

@import './utils/breakpoints';
@import './utils/elements';
@import './utils/typography';
@import './utils/layout';
@import './utils/forms';

.link {
    border-bottom: 1px dotted $TEAL_WAGTAIL;
}

.example {
    margin-top: 2rem;
}

/*
 * Styles of the examples
 */

.anchor {
    display: none;

    h4:hover & {
        display: inline;
    }
}

.u-tinytext {
    font-size: 11px;
    font-style: italic;
}

.loading {
    opacity: 0.7;

    .js & {
        opacity: 0.3;
        user-select: none;
        cursor: not-allowed;
    }
}

.u-text-center {
    text-align: center;
}

.u-wagtail {
    color: $TEAL_WAGTAIL;
    white-space: nowrap;
}

.list-inline {
    margin: 0;
    padding: 0;
    list-style-type: none;

    > li {
        display: inline;
        margin: 0;
        padding: 0;

        + li {
            margin-left: 0.5rem;
        }
    }
}

$draftail-editor-chrome: $GREY_333;
$draftail-editor-chrome-text: $WHITE;
$draftail-editor-chrome-active: $WHITE;
$draftail-editor-chrome-accent: lighten($draftail-editor-chrome, 20%);

$draftail-editor-font-family: $FONT_FAMILY_SANS;

@import '../node_modules/draft-js/dist/Draft';
@import '../lib/index';

@import './components/editor';
@import './components/header';
@import './components/page-nav';
@import './components/Modal';
@import './components/Tooltip';
@import './components/PrismDecorator';
@import './entities/TooltipEntity';
@import './sources/LinkSource';
@import './sources/DocumentSource';
@import './sources/ImageSource';
@import './sources/EmbedSource';
@import './blocks/MediaBlock';
@import './blocks/EmbedBlock';
@import './blocks/ImageBlock';
