@import '../node_modules/normalize.css';

$WHITE: #fff;
$BLACK: #000;
$GREY_333: #333;
$TEAL_WAGTAIL: #43b1b0;
$TEAL_WAGTAIL_DARK: #358c8b;
$LIGHT_BLUE_EEF8FF: #eef8ff;

$TEXT_COLOR: $GREY_333;

$FONT_SIZE_H1: 3.5rem;
$FONT_SIZE_H1_MEDIUM: 5rem;
$FONT_SIZE_H2: 2.5rem;
$FONT_SIZE_H3: 1.5rem;
$FONT_SIZE_TEXT: 1rem;

$tooltip-spacing: 0.625rem;

@import './utils/breakpoints';
@import './utils/elements';
@import './utils/typography';
@import './utils/layout';
@import './utils/objects';
@import './utils/forms';

$draftail-editor-chrome: $GREY_333;
$draftail-editor-chrome-text: $WHITE;
$draftail-editor-chrome-active: $WHITE;
$draftail-editor-chrome-accent: lighten($draftail-editor-chrome, 20%);

$draftail-editor-font-family: $FONT_FAMILY_SANS;

// TODO Fix deprecation warning from node-sass, without breaking the source order.
@import '../node_modules/draft-js/dist/Draft';
@import '../lib/index';

@import './components/editor';
@import './components/header';
@import './components/page-nav';
@import './components/Modal';
@import './components/Tooltip';
@import './components/PrismDecorator';
@import './entities/TooltipEntity';
@import './sources/LinkSource';
@import './sources/DocumentSource';
@import './sources/ImageSource';
@import './sources/EmbedSource';
@import './blocks/MediaBlock';
@import './blocks/EmbedBlock';
@import './blocks/ImageBlock';

@import './utils/utilities';
