@import '../node_modules/normalize.css';
@import './utils/breakpoints';
@import './utils/elements';
@import './utils/typography';
@import './utils/forms';

body {
    padding: 50px;
}

p,
.public-DraftStyleDefault-block {
    margin: 0 0 0.5rem;
}

li .public-DraftStyleDefault-block,
code .public-DraftStyleDefault-block {
    margin-bottom: 0.25rem;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: #069;
    }

    small {
        font-size: 11px;
        color: #777;
        margin-top: -0.3em;
        display: block;
    }

    &:hover small {
        color: #777;
    }
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

blockquote {
    border-left: 1px solid #e5e5e5;
    padding: 0 0 0 20px;
    margin-left: 0;
    font-style: italic;
}

.wrapper > header {
    -webkit-font-smoothing: subpixel-antialiased;
}

strong {
    color: #222;
    font-weight: 700;
}

.wrapper > section {
    padding-bottom: 25px;
    background-color: #fff;
    padding: 0 2rem;
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 20px;
}

@media print, screen and (max-width: 960px) {
    .wrapper {
        width: auto;
        margin: 0;
    }

    header,
    section,
    footer {
        float: none;
        position: static;
        width: auto;
    }

    header {
        padding-right: 320px;
    }
}

@media print, screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
    }

    header {
        padding: 0;
    }
}

@media print, screen and (max-width: 480px) {
    body {
        padding: 15px;
    }
}

/*
 * Styles of the examples
 */

.example {
    padding: 2rem 0;
}

.anchor {
    display: none;
}

h4:hover .anchor {
    display: inline;
}

.u-tinytext {
    font-size: 11px;
    font-style: italic;
}

.icon {
    width: 1.3em;
    margin-right: 0.2em;
}

.loading {
    opacity: 0.3;
    user-select: none;
    cursor: not-allowed;
}

.u-text-center {
    text-align: center;
}

// TODO Continue code block styles.
// http://prismjs.com/index.html#plugins
// https://github.com/PrismJS/prism-themes
// .public-DraftStyleDefault-pre {
//     counter-reset: lineNumber;

//     > code {
//         display: block;
//         counter-increment: lineNumber 1;

//         &:before {
//             content: counter(lineNumber);
//             background-color: white;
//             padding: 4px;
//             min-width: 20px;
//         }

//         > div {
//             display: inline;
//         }
//     }
// }

@import '../lib/index';

@import '../node_modules/prismjs/themes/prism';
@import './components/Modal';
@import './sources/LinkSource';
