@import '../node_modules/normalize.css';

$WHITE: #fff;
$GREY_333: #333;
$TEAL_WAGTAIL: #43b1b0;

$TEXT_COLOR: $GREY_333;

@import './utils/breakpoints';
@import './utils/elements';
@import './utils/typography';
@import './utils/layout';
@import './utils/forms';

@import './components/header';
@import './components/page-nav';

p,
.public-DraftStyleDefault-block {
    margin: 0 0 0.5rem;
}

li .public-DraftStyleDefault-block,
code .public-DraftStyleDefault-block {
    margin-bottom: 0.25rem;
}

.link {
    border-bottom: 1px dotted #43b1b0;
}

blockquote {
    border-left: 1px solid #e5e5e5;
    padding: 0 0 0 20px;
    margin-left: 0;
    font-style: italic;
}

strong {
    color: #222;
    font-weight: 700;
}

hr {
    border: 0;
    background: hsl(0, 0%, 90%);
    height: 1px;
    margin: 0 0 20px;
}

.example {
    margin-top: 2rem;
}

/*
 * Styles of the examples
 */

.anchor {
    display: none;
}

h4:hover .anchor {
    display: inline;
}

.u-tinytext {
    font-size: 11px;
    font-style: italic;
}

.icon {
    width: 1.3em;
    margin-right: 0.2em;
}

.loading {
    opacity: 0.3;
    user-select: none;
    cursor: not-allowed;
}

.u-text-center {
    text-align: center;
}

.u-wagtail {
    color: $TEAL_WAGTAIL;
    white-space: nowrap;
}

// TODO Continue code block styles.
// http://prismjs.com/index.html#plugins
// https://github.com/PrismJS/prism-themes
// .public-DraftStyleDefault-pre {
//     counter-reset: lineNumber;

//     > code {
//         display: block;
//         counter-increment: lineNumber 1;

//         &:before {
//             content: counter(lineNumber);
//             background-color: white;
//             padding: 4px;
//             min-width: 20px;
//         }

//         > div {
//             display: inline;
//         }
//     }
// }

// $color-editor-chrome: $GREY_333;
// $color-editor-chrome-text: $WHITE;
// $color-editor-chrome-accent: lighten($color-editor-chrome, 20%);
// $color-editor-chrome-active: lighten($color-editor-chrome, 50%);

@import '../lib/index';

@import '../node_modules/prismjs/themes/prism';

[name='PrismDecorator'] {
    display: none;
}

@import './components/Modal';
@import './sources/LinkSource';
