.#{$DRAFTAIL}BlockToolbar {
  // stylelint-disable-next-line property-disallowed-list
  float: left;

  [dir="rtl"] & {
    // stylelint-disable-next-line property-disallowed-list
    float: right;
  }

  ~ .#{$DRAFTAIL}Toolbar,
  ~ .DraftEditor-root {
    margin-inline-start: var(--draftail-offset-inline-start);
  }
}

.#{$DRAFTAIL}BlockToolbar__trigger {
  appearance: none;
  background: $draftail-editor-background;
  color: inherit;
  border-radius: 50%;
  border: 1px solid currentColor;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: 0;
  margin-inline-end: 0.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  // top offset will be set with JS.
  position: absolute;
  // Make sure the trigger is horizontally centred.
  transform: translateY(-50%);
  visibility: hidden;
}
