.#{$DRAFTAIL}BlockToolbar {
  float: left;

  [dir="rtl"] & {
    float: right;
  }

  ~ .DraftEditor-root {
    margin-inline-start: 3rem;
  }
}

.#{$DRAFTAIL}BlockToolbar__trigger {
  appearance: none;
  background: $draftail-editor-background;
  color: inherit;
  border-radius: 50%;
  border: 1px solid currentColor;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: 0 1rem;
  display: grid;
  align-items: center;
  justify-content: center;
  // top offset will be set with JS.
  position: relative;
  visibility: hidden;
}

.#{$DRAFTAIL}BlockToolbar .tippy-box {
  min-width: 240px;
  background: $draftail-editor-background;
  color: $draftail-editor-text;
  border-radius: $draftail-tooltip-radius;
  font-size: $draftail-editor-font-size;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);

  .tippy-content {
    padding: 0;
  }
}

.#{$DRAFTAIL}BlockToolbar__backdrop {
  position: relative;
  background-color: $color-black;
  opacity: 0;
  transition: opacity $draftail-toolbar-tooltip-duration 0s;
  z-index: $draftail-page-overlay-z-index;
  pointer-events: none;
}

.#{$DRAFTAIL}BlockToolbar--open .#{$DRAFTAIL}BlockToolbar__backdrop {
  position: fixed;
  top: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  bottom: 0;
  opacity: 11.76%;
}
