@mixin sr-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.#{$DRAFTAIL}ComboBox {
  min-width: 240px;
  background: $draftail-editor-background;
  color: $draftail-editor-text;
  border-radius: $draftail-tooltip-radius;
  font-size: $draftail-editor-font-size;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  outline: $draftail-contrast-outline-modal;
}

.#{$DRAFTAIL}ComboBox__label {
  @include sr-only();
}

.#{$DRAFTAIL}ComboBox [role="combobox"] {
  padding: 10px;
}

.#{$DRAFTAIL}ComboBox--contenteditable [role="combobox"] {
  @include sr-only();
}

.#{$DRAFTAIL}ComboBox [aria-autocomplete="list"] {
  width: 100%;
  padding: 7px 20px;
  line-height: 1.5;
  border: $draftail-editor-border;
  border-radius: $draftail-editor-radius;

  &::placeholder {
    color: $draftail-placeholder-text;
  }
}

.#{$DRAFTAIL}ComboBox__optgroup-label {
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
  border-top: $draftail-contrast-outline;

  @media (forced-colors: active) {
    color: GrayText;
  }
}

.#{$DRAFTAIL}ComboBox__menu {
  max-height: 70vh;
  overflow-y: scroll;
}

.#{$DRAFTAIL}ComboBox__option {
  cursor: pointer;
}

.#{$DRAFTAIL}ComboBox__status,
.#{$DRAFTAIL}ComboBox__option {
  padding: 10px;
  border: $draftail-contrast-outline;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.4;
  display: flex;
  align-items: center;

  &[aria-selected="true"] {
    background-color: $color-light-grey;
    border-color: currentColor;

    @media (forced-colors: active) {
      background: Highlight;
      color: HighlightText;
    }
  }
}

.#{$DRAFTAIL}ComboBox__option-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-inline-start: 6px;
  margin-inline-end: 6px;
}

.#{$DRAFTAIL}ComboBox__option-icon,
.#{$DRAFTAIL}ComboBox__option-text {
  // Force the text to CanvasText as forced colors automatically
  // adds a Canvas outline behind text.
  @media (forced-colors: active) {
    color: CanvasText;
  }
}
