@for $depth from 5 through 6 {
    @include draftail-nested-list-item($depth);
}

@include draftail-richtext-styles {
    blockquote {
        border-left: 1px solid #e5e5e5;
        padding: 0 0 0 20px;
        margin-left: 0;
        font-style: italic;
    }
}
