@include draftail-richtext-styles() {
  blockquote {
    border-inline-start: 3px solid #e5e5e5;
    padding: 0 0 0 20px;
    margin-inline-start: 0;
    font-style: italic;
  }

  :where(.Draftail-block--header-one, .Draftail-block--header-two, .Draftail-block--header-three, .Draftail-block--header-four, .Draftail-block--header-five, .Draftail-block--header-six):not(.Draftail-block--empty)
    .public-DraftStyleDefault-block::after {
    position: relative;
    top: -0.25em;
    z-index: 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #5c5c5c;
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    padding: 2px 5px;
    margin-inline-start: 10px;
  }

  .Draftail-block--header-one:not(.Draftail-block--empty)
    .public-DraftStyleDefault-block::after {
    content: "H1";
  }

  .Draftail-block--header-two:not(.Draftail-block--empty)
    .public-DraftStyleDefault-block::after {
    content: "H2";
  }

  .Draftail-block--header-three:not(.Draftail-block--empty)
    .public-DraftStyleDefault-block::after {
    content: "H3";
  }

  .Draftail-block--header-four:not(.Draftail-block--empty)
    .public-DraftStyleDefault-block::after {
    content: "H4";
  }

  .Draftail-block--header-five:not(.Draftail-block--empty)
    .public-DraftStyleDefault-block::after {
    content: "H5";
  }

  .Draftail-block--header-six:not(.Draftail-block--empty)
    .public-DraftStyleDefault-block::after {
    content: "H6";
  }
}
