.EditorWrapper--content-awareness {
  padding: 3em;

  .EditorWrapper__details {
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }
}

.EditorWrapper--floating {
  // Height of the sticky toolbar when displayed on a single line.
  margin-top: 45px;
}
