$tooltip-arrow-height: 15px;
$tooltip-arrow-spacing: 25px;

@mixin arrow--top {
  margin-top: $tooltip-arrow-spacing;
  transform: translateX(calc(-50% * var(--draftail-text-direction)));

  &::before {
    bottom: 100%;
    inset-inline-start: 50%;
    transform: translateX(calc(-50% * var(--draftail-text-direction)));
    border-bottom-color: $draftail-tooltip-chrome;
  }
}

@mixin arrow--start {
  margin-inline-start: $tooltip-arrow-spacing;
  transform: translateY(-50%);

  &::before {
    top: 50%;
    inset-inline-end: 100%;
    transform: translateY(-50%);
    border-inline-end-color: $draftail-tooltip-chrome;
  }
}

@mixin arrow--top-start {
  margin-top: $tooltip-arrow-spacing;

  &::before {
    bottom: 100%;
    inset-inline-start: $tooltip-arrow-spacing;
    border-bottom-color: $draftail-tooltip-chrome;
  }
}

.Tooltip {
  position: absolute;
  padding: $tooltip-spacing;
  background-color: $draftail-tooltip-chrome;
  color: $draftail-tooltip-chrome-text;
  z-index: $draftail-tooltip-z-index;
  border-radius: $draftail-tooltip-radius;

  --draftail-text-direction: 1;

  &[dir="rtl"],
  [dir="rtl"] & {
    --draftail-text-direction: -1;
  }

  &::before {
    content: "";
    position: absolute;
    border: $tooltip-arrow-height solid transparent;
  }

  &--top {
    @include arrow--top();
  }

  &--start {
    @include arrow--start();
  }

  &--top-start {
    @include arrow--top-start();
  }
}

.Tooltip__link {
  margin-inline-end: $controls-spacing * 4;
  display: inline-block;
}

.Tooltip__button {
  appearance: none;
  background: #808080;
  color: $color-white;
  padding: $button-spacing $controls-spacing;
  border: 0;
  border-radius: 1px;
  cursor: pointer;

  + .Tooltip__button {
    margin-inline-start: $button-spacing;
  }
}
